<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ruan Gervasi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['servicos']">Serviços</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['portifolio']">Clientes e Portifólio</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['contato']">Contato</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="page-footer font-medium mdb-color pt-4 bg-dark">

  <!-- Footer Links -->
  <div class="container text-center text-md-left footercontainer">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Ruan Gervasi</h6>
        <p>Desenvolvimento de sistemas web, e-mail corporativo e presença no Google
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Site Map</h6>
        <p>
          <a class="navbar-btn" [routerLink]="['home']">Home</a>
        </p>
        <p>
          <a class="button" [routerLink]="['servicos']">Serviços</a>
        </p>
        <p>
          <a class="a" [routerLink]="['portifolio']">Clientes e Portifólio</a>
        </p>
        <p>
          <a class="a" [routerLink]="['contato']">Contato</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Social</h6>

        <a href="#!"><div class="col-md-4 socialdiv rounded-circle">
            <i class="fa fa-facebook"></i>
          </div></a>
          <a href="#!"><div class="col-md-4 socialdiv rounded-circle">
            <i class="fa fa-instagram"></i>
          </div></a>
          <a href="#!"><div class="col-md-4 socialdiv rounded-circle">
            <i class="fa fa-whatsapp"></i>
          </div></a>




      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fa fa-home"></i> Camboriú, SC, Brasil
        </p>
        <p>
          <i class="fa fa-envelope"></i> ruan@ruangervasi.com.br
        </p>
        <p>
          <i class="fa fa-phone"></i> +55 (47) 9 9157-3328
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="https://ruangervasi.com.br/">
            <strong> ruangervasi.com.br</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <i fab icon="facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <i fab icon="twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <i fab fab icon="google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                <i fab icon="linkedin"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->

