<html>
<body style="background: black;">


<section class="text-center" style="margin: 50px;">
  <div class="container">
    <h1 class="">Seus clientes podem te encontrar</h1>
    <h4 class=" text-muted">Mas para isso, você precisa facilitar pra eles...</h4>

    <p class="lead text-muted">É ai que a gente entra. Trabalhamos com desenvolvimento de sites, desde institucional, até sistemas de vendas online. Além de e-mail coorporativo e presença no Google.</p>
    <p>
      <a [routerLink]="['/servicos']" class="btn btn-primary my-2">Conheça nossos serviços</a>
      <a [routerLink]="['/contato']" class="btn btn-secondary my-2">Contate-nos</a>
    </p>
  </div>
</section>

</body>
</html>
